In [11]:
import pandas as pd

NaN (Not a number)
None (for object data types)

isnull()
True  -- NaN is missing
False  -- value is missing

In [12]:
data = {
    "Name" : ['Ali',None,'Hamza','Wasi','Zakir','Ahad','John','Kashif'],
    "Age" : [20,None,23,24,22,25,26,28],
    "Salary" :[50000,None,70000,80000,52000,53000,55000,58000,],
    "Performance Score" : [85,None,87,86,80,92,91,93]
}

df = pd.DataFrame(data)

In [13]:
print(df.isnull())
print(df.isnull().sum())

    Name    Age  Salary  Performance Score
0  False  False   False              False
1   True   True    True               True
2  False  False   False              False
3  False  False   False              False
4  False  False   False              False
5  False  False   False              False
6  False  False   False              False
7  False  False   False              False
Name                 1
Age                  1
Salary               1
Performance Score    1
dtype: int64

## Handling Missing Value

In [14]:
# axis 0   = rows
# axis 1   = columns
# dropna(index,inplace=True)

print(df)
df.dropna(inplace=True)
print(df)

     Name   Age   Salary  Performance Score
0     Ali  20.0  50000.0               85.0
1    None   NaN      NaN                NaN
2   Hamza  23.0  70000.0               87.0
3    Wasi  24.0  80000.0               86.0
4   Zakir  22.0  52000.0               80.0
5    Ahad  25.0  53000.0               92.0
6    John  26.0  55000.0               91.0
7  Kashif  28.0  58000.0               93.0

In [22]:
# Method 2  
# fillna(value,inplace=True)



# using mean of age
#df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Age'] = df['Age'].fillna(df['Age'].mean())

print(df)

     Name  Age   Salary  Performance Score
0     Ali  NaN  50000.0               85.0
1       0  NaN      0.0                0.0
2   Hamza  NaN  70000.0               87.0
3    Wasi  NaN  80000.0               86.0
4   Zakir  NaN  52000.0               80.0
5    Ahad  NaN  53000.0               92.0
6    John  NaN  55000.0               91.0
7  Kashif  NaN  58000.0               93.0