In [2]:
import pandas as pd

## Soring Data 1 Column

In [3]:
# df.sort_values(by="column Name",True/False,inplace = True)

data = {
    "Name" : ['Ali','Hamza','Wasi','Zakir','Ahad','John','Kashif'],
    "Age" : [20,23,24,22,25,26,28],
    "Salary" :[50000,70000,80000,52000,53000,55000,58000,],
    "Performance Score" : [85,87,86,80,92,91,93]
}

df = pd.DataFrame(data)

df.sort_values(by="Age",ascending=False,inplace=True)
print("Sorted Age by Descending ")
print(df)

df.sort_values(by="Age",ascending=True,inplace=True)
print("Sorted Age by Ascending ")
print(df)

Sorted Age by Descending
     Name  Age  Salary  Performance Score
6  Kashif   28   58000                 93
5    John   26   55000                 91
4    Ahad   25   53000                 92
2    Wasi   24   80000                 86
1   Hamza   23   70000                 87
3   Zakir   22   52000                 80
0     Ali   20   50000                 85
Sorted Age by Ascending
     Name  Age  Salary  Performance Score
0     Ali   20   50000                 85
3   Zakir   22   52000                 80
1   Hamza   23   70000                 87
2    Wasi   24   80000                 86
4    Ahad   25   53000                 92
5    John   26   55000                 91
6  Kashif   28   58000                 93

## Sorting multiple columns

In [4]:
df.sort_values(by=['Age','Salary'],ascending=[True,False],inplace=True)
print("Sorted Age and Salary by Descending ")
print(df)

Sorted Age and Salary by Descending
     Name  Age  Salary  Performance Score
0     Ali   20   50000                 85
3   Zakir   22   52000                 80
1   Hamza   23   70000                 87
2    Wasi   24   80000                 86
4    Ahad   25   53000                 92
5    John   26   55000                 91
6  Kashif   28   58000                 93