In [1]:
import pandas as pd

1- select specific Columns
2- filter rows
3- combine multiple conditions

1- square brackets
2- boolean conditions

selecting Columns
1- a series
2- dataframe multiple columns of data

column = df["column name"]
subset = df["column1","column2","..."]

filtering rows
boolean indexing

based on single condition
filtered_rows = df[df["salary"] > 50000]


combine multiple  conditions
filtered_rows = df[(df["column1"] > value) & (df["column1"] < value)]

In [2]:
data = {
    "Name" : ['Ali','Ahmed','Hamza','Wasi','Zakir','Ahad','John','Kashif'],
    "Age" : [20,21,23,24,22,25,26,28],
    "Salary" :[50000,60000,70000,80000,52000,53000,55000,58000,],
    "Performance Score" : [85,90,87,86,80,92,91,93]
}

df = pd.DataFrame(data)

print("Sample DataFrame")
print(df)

Sample DataFrame
     Name  Age  Salary  Performance Score
0     Ali   20   50000                 85
1   Ahmed   21   60000                 90
2   Hamza   23   70000                 87
3    Wasi   24   80000                 86
4   Zakir   22   52000                 80
5    Ahad   25   53000                 92
6    John   26   55000                 91
7  Kashif   28   58000                 93

In [4]:
print("Names (single column returns series)")
name = df["Name"]
print(name)


# selecting multiple columns
subset = df[["Name","Salary"]]
print("\nSubset with Name and Salary")
print(subset)

Names (single column returns series)
0       Ali
1     Ahmed
2     Hamza
3      Wasi
4     Zakir
5      Ahad
6      John
7    Kashif
Name: Name, dtype: object

Subset with Name and Salary
     Name  Salary
0     Ali   50000
1   Ahmed   60000
2   Hamza   70000
3    Wasi   80000
4   Zakir   52000
5    Ahad   53000
6    John   55000
7  Kashif   58000

## Rows filter

In [6]:
high_salary = df[df["Salary"] > 55000]
print("Employees with Salary > 55000")
print(high_salary)

Employees with Salary > 55000
     Name  Age  Salary  Performance Score
1   Ahmed   21   60000                 90
2   Hamza   23   70000                 87
3    Wasi   24   80000                 86
7  Kashif   28   58000                 93

In [8]:
filtered = df[(df["Salary"] > 55000) & (df["Age"] > 23)]
print("Employees list Age > 23 and Salary > 55000")
print(filtered)

Employees list Age > 23 and Salary > 55000
     Name  Age  Salary  Performance Score
3    Wasi   24   80000                 86
7  Kashif   28   58000                 93

In [11]:
# USing OR Condition

filtered = df[(df["Performance Score"] > 90) | (df["Age"] > 24)]
print("Employees list Age > 23 OR Salary > 55000")
print(filtered)

Employees list Age > 23 OR Salary > 55000
     Name  Age  Salary  Performance Score
5    Ahad   25   53000                 92
6    John   26   55000                 91
7  Kashif   28   58000                 93