In [1]:
import pandas as pd

In [2]:
data = {
    "Name" : ['Ali','Ahmed','Hamza','Wasi','Zakir','Ahad','John','Kashif'],
    "Age" : [20,21,23,24,22,25,26,28],
    "Salary" :[50000,60000,70000,80000,52000,53000,55000,58000,],
    "Performance Score" : [85,90,87,86,80,92,91,93]
}

df = pd.DataFrame(data)

## Adding Columns

In [3]:
df["Bonus"] = df["Salary"] * 0.1
print(df)

     Name  Age  Salary  Performance Score   Bonus
0     Ali   20   50000                 85  5000.0
1   Ahmed   21   60000                 90  6000.0
2   Hamza   23   70000                 87  7000.0
3    Wasi   24   80000                 86  8000.0
4   Zakir   22   52000                 80  5200.0
5    Ahad   25   53000                 92  5300.0
6    John   26   55000                 91  5500.0
7  Kashif   28   58000                 93  5800.0

In [5]:
# Using insert Method
df.insert(0,"Employee Id",[101,102,103,104,105,106,107,108])
print(df)

   Employee Id    Name  Age  Salary  Performance Score   Bonus
0          101     Ali   20   50000                 85  5000.0
1          102   Ahmed   21   60000                 90  6000.0
2          103   Hamza   23   70000                 87  7000.0
3          104    Wasi   24   80000                 86  8000.0
4          105   Zakir   22   52000                 80  5200.0
5          106    Ahad   25   53000                 92  5300.0
6          107    John   26   55000                 91  5500.0
7          108  Kashif   28   58000                 93  5800.0