In [2]:
import pandas as pd

In [3]:
data = {
    "Name" : ['Ali','Ahmed','Hamza','Wasi','Zakir','Ahad','John','Kashif'],
    "Age" : [20,21,23,24,22,25,26,28],
    "Salary" :[50000,60000,70000,80000,52000,53000,55000,58000,],
    "Performance Score" : [85,90,87,86,80,92,91,93]
}

df = pd.DataFrame(data)

## Updating  value of column

In [4]:
# df.loc[rowIndex,"Column name"] = newValue
df.loc[0,"Salary"] = 55000
print(df)

     Name  Age  Salary  Performance Score
0     Ali   20   55000                 85
1   Ahmed   21   60000                 90
2   Hamza   23   70000                 87
3    Wasi   24   80000                 86
4   Zakir   22   52000                 80
5    Ahad   25   53000                 92
6    John   26   55000                 91
7  Kashif   28   58000                 93

## 2nd Method

In [5]:
# Increaing Salary by 5%

df["Salary"] = df["Salary"] * 0.5
print(df)

     Name  Age   Salary  Performance Score
0     Ali   20  27500.0                 85
1   Ahmed   21  30000.0                 90
2   Hamza   23  35000.0                 87
3    Wasi   24  40000.0                 86
4   Zakir   22  26000.0                 80
5    Ahad   25  26500.0                 92
6    John   26  27500.0                 91
7  Kashif   28  29000.0                 93